<%-include('header')%>
<div class="container">
    <div class="v-1">
<h2>Name</h2>
<p><%= name %></p>
<h2>Category</h2>
<p><%=cat%></p>
<h2>Origin</h2>
<p><%=org%></p>
<h3>Instructions for Cooking</h3>
<p><%=instruct%></p>
<h4>link:</h4>
<a href="<%=link%>"><%=link%></a>
</div>
<div class="con-2">
<img src="<%=pic%>" alt="">
</div>
</div>
<%-include('footer')%>